Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt.depth: 32
URxvt.scrollBar: false
URxvt.font: xft:OhSnap :pixelsize=8:antialias=true:hinting=true
URxvt.shading: 10
URxvt.urlLauncher: firefox
URxvt*background:        #262729
URxvt*foreground:        #dddddd
URxvt*cursorColor:       #8c817e
URxvt*colorBD:           #585653
URxvt*colorUL:           #6c615e
URxvt*transparent: true
URxvt*depth: 32
URxvt*saveLines: 12000
URxvt*inheritPixmap:        true


!black
URxvt*color8:           #414141
URxvt*color0:           #353535
!red
URxvt*color1:           #E35141
URxvt*color9:           #DD4D47
!green
URxvt*color2:           #B7F862
URxvt*color10:          #AEC670
!yellow
URxvt*color3:           #DABB60
URxvt*color11:          #BEC04A
!blue
URxvt*color4:           #697AA8
URxvt*color12:          #697FA9
!magenta
URxvt*color5:           #AB86E7
URxvt*color13:          #AF9AC5
!cyan
URxvt*color6:           #62CACB
URxvt*color14:          #68CDCF
!white
URxvt*color7:           #BBBBBB
URxvt*color15:          #EEEEEE

xclock*update: 1
xclock*analog: true
xclock*Foreground: red
xclock*background: black
